
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to BookStore</h1>
        <p class="lead text-muted">
            C# is a simple, modern, general-purpose, object-oriented programming language developed by Microsoft within its .NET initiative led by Anders Hejlsberg. This tutorial will teach you basic C# programming and will also take you through various advanced concepts related to C# programming language
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search book</a>
        </p>
    </div>
</section>
<div class="py-5 bg-light">
    <div class="container">
        <h3>Top books</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/1999/xhtml"></svg>
                    <div class="card-body">
                        <p class="card-text">This section will be used to display the short description of book</p>
                        <div class="d-flex justify-content-between align-content-center">
                            <div class="btn-group">
                                <a href=""> View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/1999/xhtml"></svg>
                    <div class="card-body">
                        <p class="card-text">This section will be used to display the short description of book</p>
                        <div class="d-flex justify-content-between align-content-center">
                            <div class="btn-group">
                                <a href=""> View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/1999/xhtml"></svg>
                    <div class="card-body">
                        <p class="card-text">This section will be used to display the short description of book</p>
                        <div class="d-flex justify-content-between align-content-center">
                            <div class="btn-group">
                                <a href=""> View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>