
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body class="container">
    <img src="~/images/Brands2019.jpg" class="logo" alt="logo" />
    @*<img src="~/MyStaticFiles/2.png" class="logo" alt="Globel static files" />*@
    <h1>Welcome to web app book store</h1>

</body>
</html>
